/*GERAL*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

body{
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #D6D6D6;
}

a{
    cursor: pointer;
}

/*GERAL FIM*/

/*CABEÇALHO*/
header{
    background-color: #5300C8;
    padding: 20px 4%;
}

header>.interface{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    width: 200px;
    height: 150px;
}

header h1{
    color: #fff;
    font-size: 24px;
    line-height: 16px;
}
/*CABEÇALHO FIM*/

/*MEUS PRODUTOS*/
section.meus-produtos{
    padding: 40px;
}

section.meus-produtos h1{
    text-align: center;
    margin-bottom: 10px;
}

.container-produto{
    overflow: auto;
    box-shadow: -12px 10px 5.8px 0px #00000040;
    padding: 15px;
    height: 50vh;
}

.card{
    width: 196px;
    height: 258px;
    background-color: #5d04d9;
    border-radius: 10px;
    border: 3px solid #000;
    padding: 10px;
    box-shadow: -5px 6px 3.3px 0px #00000040;
}

.imagem img{
    width: 100%;
    height: 174px;
    border-radius: 5px;
    border: 3px solid #000;
}

.frame2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.frame2 img{
    cursor: pointer;
}

.meus-produtos p{
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    color: #fff;
}

.imagem h4{
    font-family: "IBM Plex Mono",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    margin-top: 5px;
    color: #fff;
}
.linha1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.linha1 h1{
    font-size: 28px;
    padding: 50px;
}

/*MEUS PRODUTOS FIM*/

/*FORMULARIO*/
section.adicionar-produto {
    padding: 80px 4%;
}

.titulo{
    text-align: center;
}

form .conteudo-formulario {
    max-width: 500px;
    margin: 0 auto;
    /*CENTRALIZA O FORMULARIO*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.bottoms{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
    
  
}

.bottoms .btn-guardar input{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 15px;
    
    padding: 16px 30px;
    background-color: #03318C;
    color: #fff;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.bottoms .btn-limpar input{
    cursor: pointer;
    border: 2px solid #03318C;
    outline: none;
    border-radius: 15px;
    text-align: center;
    padding: 16px 30px;
    background-color: #fff;
    color: #03318C;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

form .conteudo-formulario input{
    border: 3px solid #03318C;
    outline: none;
    padding: 20px 15px;
    font-family: "IBM Plex  Mono",sans-serif;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

::-webkit-input-placeholder{
    color: #03318C;
}


/*formulario fim*/

/*rodape*/
footer {
    margin-top: 5.8vh;
    background-color: #5300C8;
    padding: 60px 4% 0px 4%;
    box-shadow: 0 0 40px 10px #00000028;
}

footer .logo{
    display: flex;
    align-items: center;
}

footer .interface{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .flex{
    flex-direction: column;
}

footer h1{
    font-size: 24px;
    color: #fff;
    line-height: 16px;
}

footer .infos{
    text-align: center;
}

footer .infos p{
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding-bottom: 15px;
}


footer .logo img{
    width: 200px;
    height: 150px;
}

/*rodape fim*/

@media screen and (max-width:425px){
    .flex{
        flex-direction: column;
    }

    header .logo{
        flex-direction: column;
    }

    header h1 {
         font-size: 20px;
        line-height: 5px;
        margin-bottom: 20px;
    }


    header .logo img{
        width: 150px;
        height: 100px;
    }

    section.meus-produtos h1{
        font-size: 22px;
    }

    section.adicionar-produto{
        padding: 20px 4%;
    }

    .titulo{
        font-size: 22px;
    }

    form{
        gap: 20px;
        margin-top: 25px;
    }

    form input{
        padding: 15px;
        font-size: 16px;
    }
    
    footer{
        margin-top: 10px;
        padding: 20px 4%;
    }

    footer .logo{
        flex-direction: column;
    }

    footer .logo h1{
        font-size: 20px;
        line-height: 5px;
        margin-bottom: 20px;

    }

    footer .logo img{
        width: 150px;
        height: 100px;
    }

    footer .infos p{
        font-size: 14px;
        padding: 0;
    }



}